.header {
	&__container {
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
		&--flex {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}

.nav {
	color: $dark;
}

.menu {
	display: flex;
	align-items: center;
  justify-content: space-between;
	gap: 50px;
	&__item {
		font-size: 16px;
		line-height: 20px;
	}
	&__link {
		&--active {
      font-weight: 700;
			padding-bottom: 22px;
			border-bottom: 3px solid #46a358;
		}
	}
}
